@import "tailwindcss";

:root {
  --grey-1: #F6F4F1;
  --grey-2: #E4DED2;
  --grey-3: #454545;
  --black: #000000;
  --white: #FFFFFF;
  --accent: #FFFB00;
}

@theme inline {
  --color-paper: var(--grey-1);
  --color-stone: var(--grey-2);
  --color-dark-grey: var(--grey-3);
  --color-black: var(--black);
  --color-white: var(--white);
  --color-brand: var(--accent);
}

body {
 @apply bg-paper
}